<p><%= t 'notifier.changeset_comment_notification.greeting' %></p>

<% if @owner %>
<p><%= t "notifier.changeset_comment_notification.commented.your_changeset", :commenter => @commenter %></p>
<% else %>
<p><%= t "notifier.changeset_comment_notification.commented.commented_changeset", :commenter => @commenter %></p>
<% end %>

==
<%= @comment.to_html %>
==

<p><%= raw t 'notifier.changeset_comment_notification.details', :url => link_to(@changeset_url, @changeset_url) %></p>
